@import 'app1.css';

body {
    background: darkgrey;
    color: black;
}
a {
    color: red;
}
.testA {
    height: 225px;
    width: 225px;
    background-image: url("img/angular1.png");
}
.testB {
    height: 225px;
    width: 225px;
    background-image: url("img/imgA/angular2.png");
}
